!!! 5
.container
  form.form-signin(role='form')
    h2.form-signin-heading Please sign in
    input.form-control(type='email', placeholder='Email address', required='', autofocus='')
    input.form-control(type='password', placeholder='Password', required='')
    label.checkbox
      input(type='checkbox', value='remember-me')
      | Remember me
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
// /container
//
   Bootstrap core JavaScript
      ================================================== 
// Placed at the end of the document so the pages load faster